[[extend 'layout.html']]

<div class="section" id="vue-target">
  <h1 class="title">Choose a user to share URL</h1>

  <div class="field">
    <p class="control has-icons-right">
      <input
        v-model="search_text"
        class="input"
        type="text"
        @input="search"
        placeholder="Search user by username"
      />
    </p>
  </div>

  <div v-for="user in users" class="field">
    <span>{{user.username}} ({{ user.first_name }} {{user.last_name}})</span>
    <button @click="send(user.id)">Share</button>
  </div>

  [[block page_scripts]]
  <!-- Loads the Vue.js library -->

  <script>
    let get_users_url = "[[=XML(get_users_url)]]";
    let url_id = "[[=XML(url_id)]]";
    let send_url = "[[=XML(send_url)]]";
  </script>
  <script src="js/index.js"></script>
  [[end]]
</div>
