[[extend 'layout.html']]

<div class="section" id="vue-target">
  <h1 class="title">Select a user to share this URL</h1>

  <div class="field">
    <p class="control has-icons-right">
      <input
        v-model="search_text"
        class="input"
        type="text"
        @input="search"
        placeholder="Search user by username"
      />
    </p>
  </div>

  <div v-for="user in users" class="field">
    <span class="subtitle is-4"
      >{{user.username}} ({{ user.first_name }} {{user.last_name}})</span
    >
    <template v-if="user.is_shared">
      <span class="has-text-success">
        <i class="fa fa-check-square"></i>
        URL successfully shared</span
      >
    </template>
    <template v-else>
      <button class="button is-small" @click="send(user.id)">Share</button>
    </template>
  </div>
  <a class="button is-primary is-ligh" href="[[=URL('index')]]">
    <i class="fa fa-fw fa-arrow-left"></i>
    Back
  </a>
  [[block page_scripts]]
  <!-- Loads the Vue.js library -->

  <script>
    let get_users_url = "[[=XML(get_users_url)]]";
    let url_id = "[[=XML(url_id)]]";
    let send_url = "[[=XML(send_url)]]";
    let page = "share";
  </script>
  <script src="js/index.js"></script>
  [[end]]
</div>
